
.chat-main
  .chat-main__top
    .chat-main__top__group 
      = @group.name
    .chat-main__top__edit  
      =link_to "Edit" , edit_group_path(@group)
    .chat-main__top__member 
      member: 
      - @group.users.each do |user|
        = user.name
  .chat-main__content
    .chat-main__content__message 
      = render @messages

  .chat-main__footer
    = form_for [@group, @message] do |f|
      = f.text_field :content, class: 'chat-main__footer__input' , placeholder: 'type a message'
      .form__mask
        =f.label :image, class: 'chat-main__footer__input__image' do
          = icon('fas', 'image', class: 'icon')
          =f.file_field :image, class: 'input-box__input__image__file'
      = f.submit 'Send', class: 'chat-main__footer__submit'


    